.sing-in {
  background-color: $My-Color-Theme-3;
  border-radius: 5px;
  padding: 2.5rem;

  .logo {
    margin-bottom: 2.5rem;
  }

  .input-group {
    margin-bottom: 2.5rem;
    height: 2.75rem;

    .input-group-prepend, .input-group-append {
      .input-group-text {
        background-color: #fff;
        height: 100%;
        border: none;
        border-radius: 0;

        i {
          color: $My-Color-Theme-3;
          font-size: 1.1rem;
        }
      }
    }

    .form-control {
      height: 100%;
      border: none;
      border-radius: 0;
    }
  }
}
