.sing-in {
  margin: 10rem auto;
  background-color: $air-3-hex;
  border-radius: 5px;
  padding: 2.5rem;

  .logo {
    margin-bottom: 2.5rem;
  }

  .input-group {
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 5px;
    height: 2.75rem;

    .input-group-prepend, .input-group-append {
      background-color: transparent;

      .input-group-text {
        background-color: #fff;
        border-color: #fff;

        &.btn:focus {
          box-shadow: none;
        }

        i {
          color: $air-1-hex;
          font-size: 1.5rem;

          &.fa-eye, &.fa-eye-slash {
            color: #c3c3c3;
            font-size: 1rem;
          }
        }
      }
    }

    .form-control {
      background-color: transparent;
      border-color: #fff;
      height: 100%;

      &::placeholder {
        color: $air-1-hex;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .form-check {
    margin-bottom: 2rem;
    .form-check-input {
      height: 1.4rem;
      width: 1.4rem;
      margin-top: 0;
    }
    .form-check-label{
      margin-left: 1rem;
      font-size: 1.2rem;
      color: #fff;
    }
    .form-check-link{
      color: $air-1-hex;
      text-decoration: underline;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
  .login-btn{
    width: 100%;
    background-color: #fff;
    height: 2.75rem;
    color: $air-1-hex;
    font-weight: bold;
    font-size: 1.3rem;
    &.btn:focus{
      box-shadow: none;
    }
  }
}
