/* Color Theme Swatches in Hex */
.sing-in {
  margin: 10rem auto;
  background-color: #77CFF7;
  border-radius: 5px;
  padding: 2.5rem;
}
.sing-in .logo {
  margin-bottom: 2.5rem;
}
.sing-in .input-group {
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 5px;
  height: 2.75rem;
}
.sing-in .input-group .input-group-prepend, .sing-in .input-group .input-group-append {
  background-color: transparent;
}
.sing-in .input-group .input-group-prepend .input-group-text, .sing-in .input-group .input-group-append .input-group-text {
  background-color: #fff;
  border-color: #fff;
}
.sing-in .input-group .input-group-prepend .input-group-text.btn:focus, .sing-in .input-group .input-group-append .input-group-text.btn:focus {
  box-shadow: none;
}
.sing-in .input-group .input-group-prepend .input-group-text i, .sing-in .input-group .input-group-append .input-group-text i {
  color: #0A4B69;
  font-size: 1.5rem;
}
.sing-in .input-group .input-group-prepend .input-group-text i.fa-eye, .sing-in .input-group .input-group-prepend .input-group-text i.fa-eye-slash, .sing-in .input-group .input-group-append .input-group-text i.fa-eye, .sing-in .input-group .input-group-append .input-group-text i.fa-eye-slash {
  color: #c3c3c3;
  font-size: 1rem;
}
.sing-in .input-group .form-control {
  background-color: transparent;
  border-color: #fff;
  height: 100%;
}
.sing-in .input-group .form-control::placeholder {
  color: #0A4B69;
}
.sing-in .input-group .form-control:focus {
  box-shadow: none;
}
.sing-in .form-check {
  margin-bottom: 2rem;
}
.sing-in .form-check .form-check-input {
  height: 1.4rem;
  width: 1.4rem;
  margin-top: 0;
}
.sing-in .form-check .form-check-label {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #fff;
}
.sing-in .form-check .form-check-link {
  color: #0A4B69;
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: bold;
}
.sing-in .login-btn {
  width: 100%;
  background-color: #fff;
  height: 2.75rem;
  color: #0A4B69;
  font-weight: bold;
  font-size: 1.3rem;
}
.sing-in .login-btn.btn:focus {
  box-shadow: none;
}

body {
  padding: 3rem 5rem;
}
body .btn.focus, body .btn:focus {
  box-shadow: none;
}
body header {
  margin-bottom: 2rem;
}
body header .menu .menu-link .fa-bars {
  color: #77CFF7;
  font-size: 2rem;
}
body header .menu .dropdown-menu {
  border-color: #77CFF7;
}
body header .menu .dropdown-menu .dropdown-item.active, body header .menu .dropdown-menu .dropdown-item:active {
  background-color: #C2E7F9;
}
body .modal .modal-content .accordion {
  position: relative;
}
body .modal .modal-content .accordion .collapse-button {
  position: absolute;
  top: -25px;
  z-index: 1;
  width: 70%;
}
body .modal .modal-content .accordion .collapse-button .card-button {
  width: 100%;
}
body .modal .modal-content .accordion .collapse-button .card-button .btn {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0A4B69;
  width: 49%;
  border: 1px solid #0A4B69;
  background-color: #fff;
}
body .modal .modal-content .accordion .collapse-button .card-button .btn.active {
  background-color: #0A4B69;
  color: #fff;
}
body .modal .modal-content .accordion .card .card-header {
  border: none;
  margin-top: 3rem;
  background-color: #fff;
}
body .modal .modal-content .accordion .card .card-header h5 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #0A4B69;
}
body .modal .modal-content .accordion .card .card-body i {
  font-size: 1.9rem;
}
body .modal .modal-content .accordion .card .card-body i.fa-pen-square {
  color: #ffc107;
}
body .modal .modal-content .accordion .card .card-body i.fa-times-circle {
  color: red;
}
body .modal .modal-content .accordion .card .card-body i.fa-check-circle {
  color: #00a409;
}
body .modal .modal-content .accordion .card .card-body i.fa-plus-circle {
  color: #0A4B69;
}
body .modal .modal-content .accordion .card .card-body i.fa-plus-circle:hover {
  transform: scale(1.2);
}
body .modal .modal-content .accordion .card .card-body .requests .form-control {
  height: 2.5rem;
  border-color: #0A4B69;
}
body .modal .modal-content .accordion .card .card-body .requests .employee-name, body .modal .modal-content .accordion .card .card-body .requests .priority {
  border: none;
  height: 1.5rem;
}
body .modal .modal-content .accordion .card .card-body .requests .request-date {
  height: 1.5rem;
}
body .modal .modal-content .accordion .card .card-body .requests .request-date .form-control-date {
  border: none;
}
body .modal .modal-content .accordion .card .card-body .requests .priority option {
  font-weight: bold;
}
body .submit {
  background-color: #77CFF7;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
body .title {
  color: #0A4B69;
  font-weight: bold;
  font-size: 2rem;
}
body section {
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}
body section .plane-icon {
  width: 12%;
  background-color: #77CFF7;
  margin-bottom: -1px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  text-align: center;
  padding-top: 0.7rem;
}
body section .plane-icon .input-group-text {
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  justify-content: center;
  width: 100%;
}
body section .plane-icon .plane-arrival {
  width: 100%;
}
body section form #departure-date {
  margin-top: -1px;
}
body section form label {
  color: #0A4B69;
}
body section form .form-group {
  margin-bottom: 1.25rem;
}
body section form .form-group .date {
  width: 58%;
}
body section form .form-group .date .datepicker-input {
  width: 70%;
}
body section form .form-group .date .calendar-icon {
  height: 101%;
  width: 25%;
  font-size: 1.5rem;
  color: #0A4B69;
  text-align: center;
  padding: 0.375rem 0;
  border-right: 1px solid #77CFF7;
  border-left: 1px solid #77CFF7;
}
body section form .form-group .date .calendar-icon i {
  color: #0A4B69;
}
body section form .form-group .time {
  width: 30%;
}
body section form .form-group .form-control {
  height: 3rem;
  font-size: 1.2rem;
  border-color: #77CFF7;
}
body section form .form-group .form-control:focus {
  box-shadow: none;
}
body section form .form-group .form-control::placeholder {
  color: #0A4B69;
}
body section form .form-group .estimated-arrival, body section form .form-group .estimated-departure {
  border-radius: 0.25rem;
  border: 1px solid #77CFF7;
}
body section form .form-group .estimated-arrival #arrival-date, body section form .form-group .estimated-arrival #departure-date, body section form .form-group .estimated-departure #arrival-date, body section form .form-group .estimated-departure #departure-date {
  background-color: transparent;
  width: 50%;
  border: none;
}
body section form .form-group .estimated-arrival #arrival-time, body section form .form-group .estimated-arrival #departure-time, body section form .form-group .estimated-departure #arrival-time, body section form .form-group .estimated-departure #departure-time {
  background-color: transparent;
  width: 30%;
  border: none;
}
body section form .add-requests {
  border: 0.09rem solid #0A4B69;
  color: #0A4B69;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
body section form .add-requests:hover {
  background-color: #0A4B69;
  color: #FFF;
}
body section .text-secondary {
  color: yellow !important;
}
body section .btn-secondary {
  background-color: #e4e400 !important;
  border-color: #e4e400;
}
body section .btn-danger, body section .btn-warning, body section .btn-secondary {
  color: white;
  width: 5rem;
}
body section .btn-danger.btn-sm, body section .btn-warning.btn-sm, body section .btn-secondary.btn-sm {
  line-height: 1.2rem;
  font-size: 1rem;
}
body section .btn-danger:focus, body section .btn-warning:focus, body section .btn-secondary:focus {
  box-shadow: none;
}
body section .add-new, body section .search-by {
  padding: 1.25rem;
  border: 0.095rem solid #0A4B69;
  border-radius: 0.3rem;
}
body section .search-by {
  max-height: 340px;
}
body section .search-by .submit {
  width: 60%;
}
body section .calendar .card {
  border: 1px solid #77CFF7;
  font-size: 1.3rem;
}
body section .calendar .card .card-header {
  background-color: #77CFF7;
}
body section .calendar .card .card-header h5 {
  color: #0A4B69;
  font-weight: bold;
}
body section .calendar .card .card-body {
  font-weight: bold;
}
body .main-table .table {
  font-size: 0.85rem;
  border: 1px solid #77CFF7;
}
body .main-table .table .aircraftstatus-table, body .main-table .table .estimatedtime-table, body .main-table .table .actualtime-table {
  width: 3%;
}
body .main-table .table .priority-table, body .main-table .table .actions-table {
  width: 5%;
}
body .main-table .table .tailnumber-table, body .main-table .table .chauffeurstatus-table, body .main-table .table .status-table {
  width: 8%;
}
body .main-table .table .servicerequest-table, body .main-table .table .requestassigned-table {
  width: 12%;
}
body .main-table .table thead {
  background-color: #77CFF7;
  color: #fff;
}
body .main-table .table thead th {
  padding: 0.4rem;
  vertical-align: middle;
}
body .main-table .table tbody td {
  padding: 0.4rem;
  vertical-align: middle;
  border-color: #77CFF7;
}
body .main-table .table tbody td.actions-table i {
  font-size: 1.5rem;
}
body .main-table .table tbody td.actions-table i.fa-pen-square {
  color: #ffc107;
}
body .main-table .table tbody td.actions-table i.fa-trash-alt {
  color: red;
}
body .main-table .table tbody .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}
body .main-table .table tbody .btn-light, body .main-table .table tbody .btn-primary, body .main-table .table tbody .btn-success {
  width: 100%;
  padding: 0.3rem;
}
body .main-table .table tbody .btn-light.btn:focus, body .main-table .table tbody .btn-primary.btn:focus, body .main-table .table tbody .btn-success.btn:focus {
  box-shadow: none;
}
body .main-table .table tbody .btn-light {
  background-color: grey !important;
  color: #fff;
}
body .main-table .table tbody .fa-plane {
  color: #77CFF7;
}
body footer {
  margin: 0 -5rem -3rem -5rem;
  padding: 3rem 5rem;
  background-color: #0A4B69;
  box-shadow: 0px -5px 5px 4px #0a4b69;
  color: #fff;
}
body footer img {
  width: 20%;
}
body footer .mailto, body footer .address {
  text-decoration: none;
  color: #fff;
}
body footer .icon {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  padding-top: 0.6rem;
  margin-right: 1rem;
}
body footer .icon i {
  font-size: 1.3rem;
}
body footer .contact-support {
  border: 1px solid #fff;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
}
body footer .contact-support:hover {
  background-color: #fff;
}
body footer .modal {
  color: #0A4B69;
}
body footer .modal .upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  text-align: center;
}
body footer .modal .upload .btn {
  border: 1px dashed #5D7078;
  color: #0A4B69;
}
body footer .modal .upload .btn i {
  color: #0A4B69;
}
body footer .modal .upload input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

body .search {
  margin-top: 5rem;
  margin-bottom: 4rem;
}
body .search .input-group {
  border: 0.09rem solid #77CFF7;
  border-radius: 0.25rem;
}
body .search .input-group .form-control {
  border: none;
}
body .search .input-group .form-control::placeholder {
  color: #0A4B69;
  font-size: 1.1rem;
  line-height: 1.5;
}
body .search .input-group .form-control:focus {
  box-shadow: none;
}
body .search .input-group .input-group-append {
  width: 10%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
body .search .input-group .input-group-append .fa-search {
  color: #77CFF7;
  font-size: 1.4rem;
}
body .btn-secondary {
  background-color: #e4e400 !important;
  border-color: #e4e400;
}
body .btn-danger, body .btn-warning, body .btn-secondary {
  color: white;
  width: 5rem;
}
body .btn-danger.btn-sm, body .btn-warning.btn-sm, body .btn-secondary.btn-sm {
  line-height: 1.2rem;
  font-size: 1rem;
}
body .btn-danger:focus, body .btn-warning:focus, body .btn-secondary:focus {
  box-shadow: none;
}
body .search-results .table .priority-table {
  width: 10% !important;
}
body .search-results .table .servicerequest-table {
  width: 20% !important;
}

section .new-employee .modal .close:focus {
  outline: none;
}

.main-table .employee {
  font-size: 1.2rem !important;
}

.daily-service h3 {
  margin: 3rem 0;
}
.daily-service h3.title {
  font-size: 1.7rem;
}
.daily-service .collapse-button .btn {
  background-color: #77CFF7;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}
.daily-service #content-report-per-date .card-body .main-table .table .timecompleted-table, .daily-service #content-report-per-tail .card-body .main-table .table .timecompleted-table {
  width: 15%;
}
.daily-service #content-report-per-date .card-body .main-table .table .aircraftstatus-table, .daily-service #content-report-per-date .card-body .main-table .table .estimatedtime-table, .daily-service #content-report-per-tail .card-body .main-table .table .aircraftstatus-table, .daily-service #content-report-per-tail .card-body .main-table .table .estimatedtime-table {
  width: 9%;
}

.daily-service h3 {
  margin: 3rem 0;
}
.daily-service h3.title {
  font-size: 1.7rem;
}
.daily-service .form-group {
  border: 1px solid #77CFF7;
  border-radius: 0.25rem;
}
.daily-service .form-group .form-control {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #77CFF7;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.daily-service .form-group i {
  color: #77CFF7;
  font-size: 1.5rem;
}
.daily-service .main-table .table .timecompleted-table {
  width: 15%;
}
.daily-service .main-table .table .aircraftstatus-table, .daily-service .main-table .table .estimatedtime-table {
  width: 9%;
}

body {
  font-family: "Open Sans", sans-serif;
}
body .fa-plane {
  color: white;
  font-size: 1.5rem;
}
body .fa-plane.arrival {
  transform: rotate(-45deg);
}
body .fa-plane.departure {
  transform: rotate(135deg);
}

/*# sourceMappingURL=main.css.map */
