/* Color Theme Swatches in Hex */
$air-1-hex: #0A4B69;
$air-2-hex: #C2E7F9;
$air-3-hex: #77CFF7;
$air-4-hex: #5D7078;
$air-5-hex: #5EA4C4;


$main-font: 'Open Sans', sans-serif;

@import "login" , 'mainscreen';

body{
  font-family: $main-font;
}