body {
  padding: 3rem 5rem;

  .btn.focus, .btn:focus {
    box-shadow: none;
  }

  header {
    margin-bottom: 2rem;

    .menu {
      .menu-link {
        .fa-bars {
          color: $air-3-hex;
          font-size: 2rem;
        }
      }

      .dropdown-menu {
        border-color: $air-3-hex;

        .dropdown-item.active, .dropdown-item:active {
          background-color: $air-2-hex;
        }
      }
    }
  }

  .modal {
    .modal-content {
      .accordion {
        position: relative;

        .collapse-button {
          position: absolute;
          top: -25px;
          z-index: 1;
          width: 70%;

          .card-button {
            width: 100%;

            .btn {
              font-size: 1.5rem;
              font-weight: bold;
              color: $air-1-hex;
              width: 49%;
              border: 1px solid $air-1-hex;
              background-color: #fff;

              &.active {
                background-color: $air-1-hex;
                color: #fff;
              }
            }
          }
        }

        .card {
          .card-header {
            border: none;
            margin-top: 3rem;
            background-color: #fff;

            h5 {
              font-size: 1.1rem;
              font-weight: bold;
              color: $air-1-hex;
            }
          }

          .card-body {
            i {
              font-size: 1.9rem;

              &.fa-pen-square {
                color: #ffc107;
              }

              &.fa-times-circle {
                color: red;
              }

              &.fa-check-circle {
                color: #00a409;
              }

              &.fa-plus-circle {
                color: $air-1-hex;

                &:hover {
                  transform: scale(1.2);
                }
              }

            }

            .requests {
              .form-control {
                height: 2.5rem;
                border-color: $air-1-hex;
              }

              .employee-name, .priority {
                border: none;
                height: 1.5rem;
              }

              .request-date {
                height: 1.5rem;

                .form-control-date {
                  border: none;
                }
              }

              .priority {
                option {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }

  .submit {
    background-color: $air-3-hex;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title {
    color: $air-1-hex;
    font-weight: bold;
    font-size: 2rem;
  }

  section {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;


    .plane-icon {
      width: 12%;
      background-color: $air-3-hex;
      margin-bottom: -1px;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;

      .input-group-text {
        background-color: transparent;
        border-radius: 0;
        border: none;
        padding: 0;
        justify-content: center;
        width: 100%;

      }

      .plane-arrival {
        width: 100%;
      }
    }

    form {
      label {
        color: $air-1-hex;
      }

      .form-group {
        margin-bottom: 1.25rem;

        .date {
          width: 55%;
          .datepicker-input{
            width: 80%;
          }
          .calendar-icon{
            width: 10%;
            font-size: 1.5rem;
          }
        }
        .time{
          width: 30%;
        }

        .form-control {
          height: 3rem;
          font-size: 1.2rem;
          border-color: $air-3-hex;

          &:focus {
            box-shadow: none;
          }

          &::placeholder {
            color: $air-1-hex;
          }
        }

        .estimated-arrival, .estimated-departure {
          border-radius: 0.25rem;
          border: 1px solid $air-3-hex;

          #arrival-date, #departure-date {
            background-color: transparent;
            width: 50%;
            border: none;
          }

          #arrival-time, #departure-time {
            background-color: transparent;
            width: 30%;
            border: none;
          }
        }
      }

      .add-requests {
        border: 0.09rem solid $air-1-hex;
        color: $air-1-hex;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1.25rem;

        &:hover {
          background-color: $air-1-hex;
          color: #FFF;
        }
      }
    }

    .text-secondary {
      color: yellow !important;
    }

    .btn-secondary {
      background-color: #e4e400 !important;
      border-color: #e4e400;
    }

    .btn-danger, .btn-warning, .btn-secondary {
      color: white;
      width: 5rem;

      &.btn-sm {
        line-height: 1.2rem;
        font-size: 1rem;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .add-new, .search-by {
      padding: 1.25rem;
      border: 0.095rem solid $air-1-hex;
      border-radius: 0.3rem;

    }

    .search-by {
      max-height: 340px;

      .submit {
        width: 60%;
      }
    }

    .calendar {
      .card {
        border: 1px solid $air-3-hex;
        font-size: 1.3rem;

        .card-header {
          background-color: $air-3-hex;

          h5 {
            color: $air-1-hex;
            font-weight: bold;
          }
        }

        .card-body {
          font-weight: bold;
        }

      }
    }
  }

  .main-table {
    .table {
      font-size: 0.85rem;
      border: 1px solid $air-3-hex;

      .aircraftstatus-table, .estimatedtime-table, .actualtime-table {
        width: 3%;
      }

      .priority-table, .actions-table {
        width: 5%;
      }

      .tailnumber-table, .chauffeurstatus-table, .status-table {
        width: 9%;
      }

      .servicerequest-table, .requestassigned-table {
        width: 15%;
      }

      thead {
        background-color: $air-3-hex;
        color: #fff;

        th {
          padding: 0.4rem;
          vertical-align: middle;
        }
      }

      tbody {
        td {
          padding: 0.4rem;
          vertical-align: middle;
          border-color: $air-3-hex;

          &.actions-table {
            i {
              font-size: 1.5rem;

              &.fa-pen-square {
                color: #ffc107;
              }

              &.fa-trash-alt {
                color: red;
              }
            }
          }
        }

        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
          width: 100%;
        }

        .btn-light, .btn-primary, .btn-success {
          width: 100%;
          padding: 0.3rem;

          &.btn:focus {
            box-shadow: none;
          }
        }

        .btn-light {
          background-color: grey !important;
          color: #fff;
        }

        .fa-plane {
          color: $air-3-hex;
        }
      }
    }
  }
}



