/* Color Theme Swatches in Hex */
$air-1-hex: #0A4B69;
$air-2-hex: #C2E7F9;
$air-3-hex: #77CFF7;
$air-4-hex: #5D7078;
$air-5-hex: #5EA4C4;


$main-font: 'Open Sans', sans-serif;

@import "login" , 'mainscreen', 'search','employee','tvscreen', 'report';

body{
  font-family: $main-font;
  .fa-plane {
    color: white;
    font-size: 1.5rem;

    &.arrival {
      transform: rotate(-45deg);
    }

    &.departure {
      transform: rotate(135deg);
    }
  }
}